<!DOCTYPE html>
<html>
<head>
    <title>Разблокировано</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container success">
    <h2> Отлично</h2>
    <p>Доступ открыт</p>

    <a href="https://www.tiktok.com" class="btn">Перейти в Tiktok</a>
    <a href="https://youtube.com" class="btn">Перейти в youtube</a>
    <a href="https://www.instagram.com" class="btn">Перейти в Instagram</a>
    <a href="https://www.facebook.com" class="btn">Перейти в Facebook</a>
</div>

</body>
</html>